#wrapper { 
    position:absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* prevent horizontal scrolling when content slides to the left or right */
    overflow-y: auto;
}

#main {
    position: absolute; 
    z-index: 4; 
    left: 0; 
    width: 100%; 
    height: 110px; 
    background-color: #eee;
}

#nav {
    position:absolute; 
    z-index:3; 
    left:0; 
    width: 100%; 
    height: 220px; 
    background-color: #ddd;
}

#extra {
    position:absolute; 
    z-index:2; 
    left:0; 
    width: 100%; 
    height: 330px; 
    background-color: #ccc;
}

#slideLeft {
    width: 15%;
    position: absolute;
    right: 0;
}

#slideRight {
    width: 15%;
    position: absolute;
    left: 0;
}

.padding {
    width: 80%;
    border: 1px solid white;
}

#nav .padding {
    float: left;
}

#extra .padding {
    float: right;
}

.leftSwipe #slideLeft:before {
    content: "Close: ";
}

.rightSwipe #slideRight:before {
    content: "Close: ";
}